.content {
    background: linear-gradient(170deg, rgba(6,17,43,1) 0%, rgba(22,49,106,1) 100%);
}
.cab {
    background-color: #051029;
}
.topo {
    display: grid;
    grid-template-columns: 60% 40%;
}
.titulo {
    font-size: 35px;
    margin: 4%;
    font-family: "Noto Serif", serif;
    font-weight: 800;
    color: #c6c3eb;
}
.rod {
    background-color: #17336f;
    text-align: center;
    margin: 2.5%;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    color: #c6c3eb;
}
.menuI {
    display: inline;
}
.menuL {
    list-style-type: none;
    margin: 8% 8% 0% 0%;
    font-size: 25px;
    text-align: right;
}
.menu {
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    padding: 11px;
    color: #c6c3eb;
}
.menu:hover {
    font-size: 27px;
    color: #746cc6;
}
a {
    color: #8c88c0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
a:hover {
    color: #746cc6;
}
a:visited {
    color: #8c88c0;
}
a:visited:hover {
    color: #746cc6;
}
.rodl {
    color: #8c88c0;
    text-decoration: none;
}
.rodl:hover {
    color: #746cc6;
}
.rodl:visited {
    color: #8c88c0;
}
.rodl:visited:hover {
    color: #746cc6;
}
.imghm {
    height: 400px;
    border-radius: 10%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.home {
    margin: 1.25% 2.5%;
    display: grid;
    grid-template-columns: 31% 69%;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #c6c3eb;
}
.protit {
    font-size: 30px;
    font-family: "Noto Serif", serif;
    color: #c6c3eb;
}
.projects {
    margin: 2% 4%;
}
.album {
    height: 300px;
    border-radius: 10%;
    margin: 0% 20%;
}
.single {
    height: 100px;
    border-radius: 10%;
    margin: 0% 20%;
}
table {
    color: #8c88c0;
    font-family: "Ubuntu", sans-serif;
    margin: 3%;
}
th {
    font-size: 25px;
    margin: 3%;
}
td {
    padding: 0% 3%;
}
.sobre {
    display: grid;
    grid-template-columns: 30% 70%;
}
.sobre1 {
    margin: 2.5%;
    color: #8c88c0;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
.icon {
    height: 45px;
	width: 45px;
	border-radius: 70px;
	margin-left: 2.5%;
}
input {
    margin-right: 20px;
	margin-bottom: 20px;
	background-color: #17336f;
	color: #ffe3e3;
}
.mensagem {
    padding-right: 100px;
    padding-bottom: 100px;
}